.radioGroupContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 10px;
  border: 1px dashed #6a0dad;
  border-radius: 4px;
}

.radioGroupLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  position: relative;
}

input[type='radio']:checked {
  background-color: #397df6;
}

input[type='radio']:hover {
  background-color: #73a5ff;
}

input[type='radio']:active {
  background-color: #2f68cc;
}

input[type='radio']:focus {
  outline: 2px solid #397df6;
}

input[type='radio']:disabled {
  background-color: #9c9c9c;
  border: 2px solid #9c9c9c;
  cursor: not-allowed;
}
